@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");
/* Default styles */

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #5846f9;
}

a:hover {
  color: #8577fb;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* Small Components Styles */

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  padding: 30px 0px 40px 0px;
}
.section-title h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.services-card {
  margin: 10px 0;
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}
.services-card:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services-card .svg-icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.services-card .svg-icon path {
  transition: ease-in-out 0.3s;
}

.services-card .svg-icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}
.services-card .svg-icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.iconbox-blue i {
  color: #47aeff;
}

.services-card:hover .iconbox-blue i {
  color: #fff;
}

.services-card:hover .iconbox-blue path {
  fill: #47aeff;
}

.iconbox-orange i {
  color: #ffa76e;
}

.services-card:hover .iconbox-orange i {
  color: #fff;
}

.services-card:hover .iconbox-orange path {
  fill: #ffa76e;
}

.iconbox-pink i {
  color: #e80368;
}

.services-card:hover .iconbox-pink i {
  color: #fff;
}

.services-card:hover .iconbox-pink path {
  fill: #e80368;
}

.iconbox-yellow i {
  color: #ffbb2c;
}

.services-card:hover .iconbox-yellow i {
  color: #fff;
}

.services-card:hover .iconbox-yellow path {
  fill: #ffbb2c;
}

.iconbox-red i {
  color: #ff5828;
}

.services-card:hover .iconbox-red i {
  color: #fff;
}

.services-card:hover .iconbox-red path {
  fill: #ff5828;
}

.iconbox-teal i {
  color: #11dbcf;
}

.services-card:hover .iconbox-teal i {
  color: #fff;
}

.services-card:hover .iconbox-teal path {
  fill: #11dbcf;
}

/* Header section */

.nav-link {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

header .btn-get-started {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px 18px;
  border-radius: 5px;
  transition: 0.5s;
  margin-left: 30px;
  color: #fff !important;
  border: 2px solid #fff;
}

header .btn-get-started:hover {
  background: #fff;
  color: #5846f9 !important;
}

/* hero Section */

#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgba(86, 58, 250, 0.9) 0%,
      rgba(116, 15, 214, 0.9) 100%
    ),
    url("../src/assets/img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
}

#hero .container-fluid {
  padding-top: 84px;
}

#hero h1 {
  margin: 0;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 0 0;
  font-size: 20px;
}
#hero .btn-get-started {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff !important;
  border: 2px solid #fff;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #5846f9 !important;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}
/* About section */

#about {
  margin-bottom: 50px;
  width: 100%;
}

#about ul li {
  padding-bottom: 10px;
}
#about ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}

.counter-section {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  background: linear-gradient(
    45deg,
    rgba(86, 58, 250, 0.9) 0%,
    rgba(116, 15, 214, 0.9) 100%
  );
}

.counter-section span {
  font-weight: bold;
  font-size: 48px;
  margin: 20px;
}

/* Services section */
#services {
  padding-bottom: 80px;
}

/* feature section */

.features {
  margin: 50px 0;
}

.features .tile h4 {
  font-weight: bold;
  font-size: 20;
  margin: 5px 0 10px 60px;
}
.features .tile p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}
.features .tile i {
  font-size: 48px;
  float: left;
  color: #5846f9;
}

/* testimonialn section */

#testimonial {
  padding-bottom: 100px;
}

#testimonial .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

#testimonial .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#testimonial .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #2c4964;
}
#testimonial .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}
#testimonial .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.swiper-container {
  /* background: #000; */
  padding-bottom: 50px;
}
.swiper-pagination-bullet {
  transform: scale(1.5, 1.5);
  background: rgba(86, 58, 250, 0.9);
}

/* Contact Section */
#contact {
  margin: 40px 0;
  padding: 40px 0;
}
#contact .card {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
  /* margin: 30px 0; */
}
#contact .card i {
  font-size: 32px;
  color: #5846f9;
  border-radius: 50%;
  padding: 8px;
}
#contact .card h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}
#contact .card p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
#contact .form-section {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

#contact .form-section input,
#contact .form-section textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

#contact .form-section input:focus,
#contact .form-section textarea:focus {
  border-color: #5846f9;
}

#contact .form-section input {
  margin-bottom: 20px;
  padding: 10px 15px;
}

#contact .form-section textarea {
  margin-bottom: 20px;
  padding: 10px 15px;
}

#contact .form-section button[type="submit"] {
  background: #5846f9;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}
#contact .form-section button[type="submit"]:hover {
  background: #7b27d8;
}

/* Footer section */
#footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(
      45deg,
      rgba(86, 58, 250, 0.9) 0%,
      rgba(116, 15, 214, 0.9) 100%
    ),
    url("../src/assets/img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline !important;
  color: #fff;
}
#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgba(123, 39, 216, 0.8);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #5846f9;
}

#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 16px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.2);

  text-decoration: none;
}
